@font-face {
  font-family: Modern-Vision;
  src: url("../fuentes/Modern-Vision.ttf");
}

@font-face {
  font-family: Mothership;
  src: url("../fuentes/Mothership.ttf");
}

@font-face {
  font-family: Nemesia-regular;
  src: url("../fuentes/Nemesia-bold.ttf");
}

* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    color: rgb(88, 88, 88);
}

header {
    background-image: url(../imagenes/encabezado.png);
    padding: 2%;
    text-align: center;
    height: 5%;
    font-size: 280%;
    font-variant: small-caps;
    color: rgb(153, 153, 153);
}

body {
    background-color: aliceblue;
}

main {
    margin: 2% 10%;
    padding: 0.1%;
    background-color: lightgray;
    border-radius: 5px;
}

nav {
    margin-top: 2%;
    font-variant: small-caps;
    padding: 1%;
    background-color: rgb(184, 184, 184);
    border-radius: 5px;
    font-family: Modern-Vision;
}

nav > ul > li {
    display: inline-block;
    margin-left: 12%;
}

button {
    width: 5%;
}

nav > ul {
    width: 70%;
}

nav {
    display: flex;
}

nav > form {
    display: inline-block;
    margin-left: auto;
    width: 30%;
}

fieldset {
    align-content: end;
    border: 0px none rgb(184, 184, 184);
}

.imagen {
    padding: 0.1%;
    background-image: url(../imagenes/visor4.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 1%;
    height: 30rem;
    border-radius: 5px;
}

aside {
    background-color: rgba(0, 0, 0, 0.445);
    margin: 1% 2% 1% 70%;
    height: 95%;
    padding: 2%;
    overflow: scroll;
}

aside > h2 {
    text-align: center;
    color: white;
    background-color: rgba(255, 255, 255, 0.411);
    border-radius: 5px;
    margin-bottom: 5%;
}

aside > p {
    color: white;
}

section {
    display: inline-block;
    width: 98%;
    margin: 1%;
}

section > section {
    background-color: rgb(184, 184, 184);
    border-radius: 5px;
    padding: 1%;
    width: 30.5%;
}

a {
    text-decoration: none;
    color: rgb(48, 48, 48);
}

a:hover {
    text-decoration: none;
    background-color: white;
    color: rgb(114, 112, 112);
    border-radius: 5px;
}

section > section > ul {
    background-color: white;
    border-radius: 5px;
    padding: 10%;
    margin: 5% 5% 5% 20%;
    list-style:none;
    overflow: scroll;
    font-size: 100%;
}
